4. Nov 21 2019 Agenda and Minutes.pdf
*.asc
check_progress.Rmd
*.cpg
data/00_hypso/hypso_classes.csv
data/00_lagosne/*.csv
data/00_lagosus_locus/
data/00_manual/*.csv
data/00_nla/*.csv
data/backups
data/bathybase_bathy/
data/*_bathy/*.tif
data/ct_bathy/ct_bathy.gpkg
data/elevatr/
data/gis.gpkg
data/*_hypso.csv
data/ia_bathy/*.CPG
data/ia_bathy/*.zip
data/ks_bathy/ks_bathy.gpkg
data/ma_bathy/*.zip
data/ne_bathy/ne_bathy.gpkg
data/nh_bathy/bathymetry_lakes*
data/nh_bathy/Bathymetry_Lakes*
data/nh_bathy/*.zip
data/*_todo.csv
data/*.zip
*.dbf
elev.tif
EXTRACTIONS/
figures/00_cutoffs.tex
figures/00_maps.tex
figures/01_contrasts.tex
figures/01_heatmap.tex
figures/01_hypsography.tex
figures/*.pdf
figures/*.png
figures/*.tex
*.gdb
*.geojson
.httr-oauth
lagos_depth.pdf
lagos_depth.Rmd
*.lyr
manuscript/figures.tex
oliver_csi_depth/
prediction-grids/
*.prj
RAW
.RData
README.html
.Rhistory
.Rproj.user
.Ruserdata
*.sbn
*.sbx
*.shp
*.shp*
*.shx
tables/01_predictors.tex
test.rds
*.tfw
manuscript/lagos-depth_figures.pdf
debug.R
test.R
data/00_manual_extra/*.csv
data/99_depth_collection_extra/*.csv
data/99_depth_collection/*.csv
data/me_bathy/lakedpths.zip
data/me_bathy/lakedpth.txt
manuscript/data.tex
fit1.rds
fit2.rds
ny_gg.R
tables/00_data.pdf
tables/00_data.tex
data/00_bathy_depth/00_bathy_depth*.rds
data/01_depth_model/*.rds
dist.pdf
slope.pdf
data/00_reservoir_classification/*.xlsx
scripts/three-d_modelling.R
manuscript/appendix.tex
data/bathymetry.gpkg
tables/02_model_metrics.tex
*.log
manuscript/manuscript.tex
manuscript/lagos-depth_bathymetry_outline_line_numbered.pdf
*.xml
*.fls
*.bbl
*.blg
*.out
*.fdb_latexmk
*.aux
*.synctex.gz
manuscript/lagos_depth.bib
data/hypsography.csv
manuscript/Latex_submission_guidelines_Sept52019.pdf
validate_cloud_optimized_geotiff.py
manuscript/old
manuscript/reviewer_comments.md
manuscript/si_template_2019.pdf
joedepthcomments.docx
