.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
data/*.csv
data/backups
data/00_manual/*.csv
data/00_nla/*.csv
data/00_lagosne/*.csv
figures/*.png
figures/*.pdf
EXTRACTIONS/
RAW
4. Nov 21 2019 Agenda and Minutes.pdf
data/*.zip
*.asc
prediction-grids/
data/*_bathy/*.tif
*.gdb
*.tfw
data/nh_bathy/Bathymetry_Lakes*
data/nh_bathy/bathymetry_lakes*
data/bathybase_bathy/
data/elevatr/
data/nh_bathy/*.zip
data/00_lagosus_locus/
*.geojson
*.shp
*.shx
*.shp*
*.prj
*.dbf
*.cpg
*.sbn
*.sbx
data/ma_bathy/*.zip
*.lyr
manuscript/figures.tex
figures/00_maps.tex
data/gis.gpkg
figures/00_cutoffs.tex
figures/01_heatmap.tex
figures/01_hypsography.tex
test.rds
elev.tif
