.Rproj.user
.Rhistory
.RData
.Ruserdata
.httr-oauth
data/*.csv
data/backups
data/00_manual/*.csv
data/00_nla/*.csv
data/00_lagosne/*.csv
figures/*.png
figures/*.pdf
EXTRACTIONS/
RAW
4. Nov 21 2019 Agenda and Minutes.pdf
data/*.zip
